# Build output
/build/
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
Makefile

# macOS system files
.DS_Store

# IDE
.vscode/
.idea/

# Generated plugin
/Plugins/*.scx

# Logs
*.log

# Backups
*~

# Object files
*.o
*.d
*.obj
*.so
*.dll
*.exe
*.out

# Archive
*.zip
*.tar.gz
*.tgz


build_macos.sh
build_windows.bat